@{
    ViewData["Title"] = "Home Page";
}

<section class="sectionHome">
    <div class="Container">

        <div>
            <h1 class="titulohome">SafeZone</h1>
            <h2 class="subtitulo">Seu site de caminhos seguros!</h2>

            <p class="texto1">Indique informações na comunidade para que possamos criar caminhos seguros </p>
            <p class="texto1">Imagens e informações de pessoas reais para que seu trajeto seja tranquilo e seguro</p>

            <button class="botao">Faça seu caminho seguro</button>

        </div>
        <div>
            <img src="~/img/imagemHome.svg" alt="imagem de uma camera de seguraça" />
        </div>
    </div>
</section>
