<!DOCTYPE html>
<html lang="ptBr">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SafeZone</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SafeZone.styles.css" asp-append-version="true" />
    <style>
        body {
            background-color: #F6F6F6;
            min-height: 100%;
            display: flex;
            flex-direction: column;
        }




        /* Fix: Faz o texto do botao ficar branco no hover */
        .btn-outline-success.text-success:hover,
        .btn-outline-success.text-success:focus {
            color: #fff !important;
        }

        /* Faz o footer ocupar toda a largura da tela */
        html,
        body {
            height: 100%;
        }


        main {
            width: 100vw;
            height: 100%;
        }

        .esp {
            display: flex;
            width: 90%;
            justify-content: space-between;
            align-items: center;
        }

        .topo {
            display: flex;
            width: 100%;
            justify-content: center;
            height: 80px;

        }

        .um {
            display: flex;
            flex-direction: row;
            gap: 41px;
        }

        .logo {
            text-decoration: none;
            font-size: 28px;
            color: white;
            font-weight: 600;
        }

        .serv {
            display: flex;
            align-items: center;
            text-decoration: none;
            color: white;
            font-weight: 600;
            text-align: center;
            margin: 0;
        }
    </style>
</head>

<body>
    <header>
        <nav class="topo">
            <div class="esp">
                <a class="logo" asp-area="" asp-controller="Home" asp-action="Index">SafeZone</a>

                    <div class="um">
                        <a class="serv" asp-area="" asp-controller="Home" asp-action="Index">Serviços</a>
                        <a class="serv" asp-area="" asp-controller="Home" asp-action="index">Contatos</a>
                        <a class="serv" asp-area="" asp-controller="Home" asp-action="Index">Sobre
                            nós</a>
                    </div>
            </div>
        </nav>
    </header>
    <main role="main" class="DivAzul">
        @RenderBody()
    </main>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
